.a4{
    width: 1080px;
    min-height: 1080px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 129px;
    border: 1px solid #000;
    padding:68px 80px;
}
.txtt{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    margin-top: 16px;
}
